#header{
  display:flex;
  
}
.results_p{
  text-align:center;
}
#header-img{
  display:flex;
  width:270px;
  position:fixed;
  margin-top:0;
}
#nav-bar{
  
display: flex;
  
  align-items:flex-end;
  justify-content:flex-end;
  flex-direction:row;
  font-size:20px;
  
  gap:10px;
  position:fixed;
  background-color:white;
  width:100%;

}

.nav-link{
  text-decoration:none;
  color:black;
  font-weight:bold;
  
}

#email{
  border-radius:20px;
  width:300px;
  height: 20px;
  text-align:center;
}

.card{
  border: 2px solid black;
  width:30%;
  height:320px;
  text-align:center;

}
.cards{
  display:flex;
  gap:10px;
}
.heading{
  font-weight:normal;
  font-size:20px;
}
.paragraph{
  font-weight:normal;
  font-size:14px;
}
#Subscription{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  margin-top:100px;
}
#form{
  margin: 0 auto;
}

.features-heading{
  text-align:center;
}
.results-heading{
  text-align:center;
}
.pricing-heading{
  text-align:center;
}
#submit{
  display:flex;border-radius:20px;
  background-color:#a28fa2;
  color:white;
  height:30px;
  cursor:pointer;
  justify-content:center;
  margin:0 auto;
  margin-top:10px;
  align-items:flex-end;
  flex-direction:column;
}
#price{
  font-size:16px;
}
#select{
  border: 3px solid #a28fa2;
  cursor:pointer;
  border-radius:10px;
}
#video{
  width:600px;
  display:flex;
  
margin: 0 auto;
}
#Features{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  margin-top:100px;
}
#Results{
  margin-top:100px;
}
#Pricing{
  margin-top:100px;
}

footer{
  
  background-color:#a28fa2;
  display:flex;
  align-items:center;justify-content:space-evenly;
  gap:10px;
  margin-top:100px;
}
.copyright{
  display:block;
  color:black;
}
.footer-link {
  text-decoration:none;
  color:white;
  display:flex;
  
}
@media only screen and (max-width:600px){
  footer{
    background-color:black;
  }
  .copyright{
    color:#a28fa2;
  }
}
